<div class="shadow p-3 mb-5 bg-white rounded main">
    <div class="row">
        <div class="col-1 ">
            <a routerLink="" ><img src="assets/my.webp" class="logo"></a>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-1 items" (mouseover)="hoverItem($event)" (mouseleave)="itemOut()" id="menu0">
                    <div class="item-text"><strong class='item-text'>MEN</strong></div>

                    <div class="base-block fitst-base"></div>
                    
                   
                </div>
                <div class="col-1 items" (mouseover)="hoverItem($event)" (mouseleave)="itemOut()" id="menu1">
                    <div class="item-text"><strong class='item-text'>WOMEN</strong></div>
                    <div class="base-block second-base"></div>
                    <div class="menu-2">

                        <!-- <div class="content">
                            <div class="row">
                                <div class="cat-menu">
                                    <h1 class="h1-women">Topwear</h1>
                                    <a href="">T Shirts</a>
                                    
                                    <a href="">Casual Shirts</a>
                                    
                                    <a href="">Formal Shirts</a>
                                    
                                    <a href="">Sweatshirts</a>
                                    
                                    <a href="">Sweaters</a>
                                    
                                    <a href="">Jackets</a>
                                    
                                    <a href="">Suits</a>
                                    
                                </div>
                                <div class="cat-menu">
                                    <h1 class="h1-men">Bottomwear</h1>
                                    <a href="">Jeans</a>
                                    
                                    <a href="">Casual Trousers</a>
                                    
                                    <a href="">Formal Trousers</a>
                                    
                                    <a href="">Shorts</a>
                                    
                                    <a href="">Track Pants & Joggers</a>
                                    
                                    
                                </div>

                                <div class="cat-menu">
                                    <h1 class="h1-men">Footwear</h1>
                                    <a href="">Casual Shoes</a>
                                    
                                    <a href="">Sports Shoes</a>
                                    
                                    <a href="">Sandals</a>
                                    
                                    <a href="">Flip Flops</a>
                                    
                                    <a href="">Socks</a>
                                    
                                    
                                </div>
                            </div>

                        </div> -->
                    </div>
                </div>
                <div class="col-1 items" (mouseover)="hoverItem($event)" (mouseleave)="itemOut()" id="menu2">
                    <div class="item-text"><strong class='item-text'> KIDS </strong></div>
                    <div class="base-block third-base"></div>
                </div>
                <div class="col-2 items items-2" (mouseover)="hoverItem($event)" (mouseout)="itemOut()" id="menu3">
                    <div class="item-text"><strong class='item-text'>HOME & LIVING</strong></div>
                    <div class="base-block fourth-base"></div>
                </div>
                <div class="col-1 items" (mouseover)="hoverItem($event)" (mouseout)="itemOut()" id="menu4">
                    <div class="item-text"><strong class='item-text'>BEAUTY</strong></div>
                    <div class="base-block fifth-base"></div>
                </div>
                <div class="col-1 items" (mouseover)="hoverItem($event)" (mouseout)="itemOut()" id="menu5">
                    <div class="item-text"><strong class='item-text'>STUDIO</strong></div>
                    <div class="base-block sixth-base"></div>
                </div>
            </div>

        </div>
        <div class="col-4">

            <div class="search-body">

                <div class="search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>

                </div>
                <div class="search-input">
                    <input type="text" class="form-control search-input"
                        placeholder="Search For Products, Brands and More" id="usr">
                </div>
            </div>


        </div>

        <div class="col-2">
            <div class="icons">
                <svg style="margin-left:9px;" xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                  </svg>
                  <div class="icon-tag">Profile</div>
            </div>
            <div class="icons">
                <svg style="margin-left:13px;" xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>
                  <div class="icon-tag">wishlist</div>
            </div>
            <div class="icons">
                <svg style="margin-left:2px;" xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-handbag" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2zm3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6h4z"/>
                  </svg>
                
                  <div class="icon-tag">Bag</div>
            </div>
        </div>
    </div>
</div>
<div class="shadowDiv" [style.display]="shadowDiv">
                        
</div>


<!-- first menu -->

<div class="content-1" [style.display]="hover[0]===true || content[0] === true ? 'block' : 'none'" (mouseenter)="contentHover('0')" (mouseleave)="contentOut('0')" >
    <div class="row">
        <div class="cat-menu" >
            <h1 class="h1-men">Topwear</h1>
            <a [routerLink]="['/product/Men/T shirt',tshirt]" (click)="clicked()">T Shirts</a>
            
            <a [routerLink]="['/product/Men/Casual Shirts',casualShirt]" (click)="clicked()">Casual Shirts</a>
            
            <a [routerLink]="['/product/Men/Formal Shirts',formalShirt]" (click)="clicked()">Formal Shirts</a>
            
            <a [routerLink]="['/product/Men/Sweatshirts',sweatshirt]" (click)="clicked()">Sweatshirts</a>
            
            <a [routerLink]="['/product/Men/sweaters',sweaters]" (click)="clicked()">Sweaters</a>
            
            <a [routerLink]="['/product/Men/jackets',jackets]" (click)="clicked()">Jackets</a>
            
            <a [routerLink]="['/product/Men/suits',suits]" (click)="clicked()">Suits</a>
            
        </div>
        <div class="cat-menu">
            <h1 class="h1-men">Bottomwear</h1>
            <a [routerLink]="['/product/Men/Jeans',jeans]" (click)="clicked()">Jeans</a>
            
            <a [routerLink]="['/product/Men/Casual Trausers',casualTrousers]" (click)="clicked()">Casual Trousers</a>
            
            <a [routerLink]="['/product/Men/Formal Trousers',FormalTrousers]" (click)="clicked()">Formal Trousers</a>
            
            <a [routerLink]="['/product/Men/shorts',shorts]" (click)="clicked()">Shorts</a>
            
            <a [routerLink]="['/product/Men/Track Pants & Joggers',TrackPants]" (click)="clicked()">Track Pants & Joggers</a>
            
            
        </div>

        <div class="cat-menu">
            <h1 class="h1-men">Footwear</h1>
            <a [routerLink]="['/product/Men/JCasual Shoes',casualShoes]" (click)="clicked()">Casual Shoes</a>
            
            <a href="">Sports Shoes</a>
            
            <a href="">Sandals</a>
            
            <a href="">Flip Flops</a>
            
            <a href="">Socks</a>
            
            
        </div>
    </div>

</div>

<!-- second-menu -->

<div class="content-2" [style.display]="hover[1]===true || content[1] === true ? 'block' : 'none'"  (mouseenter)="contentHover('1')" (mouseleave)="contentOut('1')" >
    <div class="row">
        <div class="cat-menu" >
            <h1 class="h1-women">Indian & Fusion Wear</h1>

            <a href="">Kurtas & Suits</a>  
            
            <a href="">Sarees</a>
            
            <a href="">Ethnic Wear</a>
            
            <a href="">Leggings</a>
            
            <a href="">Salwars & Churidars</a>
            
            <a href="">Jackets</a>
            
        </div>

        
   
        <div class="cat-menu">
            <h1 class="h1-women">Western Wear</h1>   
            <a href=""> Dresses</a>
            
            <a href="">Tops</a>
            
            <a href="">Tshirts</a>
            
            <a href="">Jeans</a>
            
            <a href="">Sweaters & Sweatshirts</a>

            <a href="">Shorts & Skirts</a>

            <a href="">Jackets & Coats</a>
            
            
        </div>
        
        
        
        
        
        <div class="cat-menu">
            <h1 class="h1-women">Footwear</h1>
            <a href="">Flats</a>
            
            <a href="">Casual Shoes</a>
            
            <a href="">Sandals</a>
            
            <a href="">Boots</a>
            
            <a href="">Sports Shoes & Floaters</a>
            
            
        </div>
    </div>

</div>

<!-- third-menu -->

<div class="content-3" [style.display]="hover[2]===true || content[2] === true ? 'block' : 'none'"  (mouseenter)="contentHover('2')" (mouseleave)="contentOut('2')" >
    <div class="row">
        <div class="cat-menu" >
            <h1 class="h1-kids">Indian & Fusion Wear</h1>

            <a href="">Kurtas & Suits</a>  
            
            <a href="">Sarees</a>
            
            <a href="">Ethnic Wear</a>
            
            <a href="">Leggings</a>
            
            <a href="">Salwars & Churidars</a>
            
            <a href="">Jackets</a>
            
        </div>

        
   
        <div class="cat-menu">
            <h1 class="h1-kids">Western Wear</h1>   
            <a href=""> Dresses</a>
            
            <a href="">Tops</a>
            
            <a href="">Tshirts</a>
            
            <a href="">Jeans</a>
            
            <a href="">Sweaters & Sweatshirts</a>

            <a href="">Shorts & Skirts</a>

            <a href="">Jackets & Coats</a>
            
            
        </div>
        
        
        
        
        
        <div class="cat-menu">
            <h1 class="h1-kids">Footwear</h1>
            <a href="">Flats</a>
            
            <a href="">Casual Shoes</a>
            
            <a href="">Sandals</a>
            
            <a href="">Boots</a>
            
            <a href="">Sports Shoes & Floaters</a>
            
            
        </div>
    </div>

</div>
