.main
{
    height: 83px;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 2;
    /* margin-top: -100px; */
}
.logo
{
    width: 108px;
}

@media (max-width: 600px) {
    .logo{
        width:90px;
    }
    .menu-items
    {
        display: none;
    }
    .search
    {
        display: none;
    }
    .display-icons
    {
        display: none;
    }
    .menu-bar {
        display: block;
       
      }
      .mobile-menu
      {
        display: block;
        height: 870px;
        width: 307px;
        background-color: white;
        position: fixed;
        z-index: 3;
      }
      .slide-in {
        transform: translateX(0);
      }
      
      .slide-out {
        transform: translateX(-100%);
      }
      .mobile-menu-items
      {
        padding-top: 100px;
        padding-left: 30px;
      }
      .mobile-menue-list
      {
        font-weight: bold;
        font-size: large;
      }
      .mobile-menue-sublist
      {
        font-weight:normal;
        font-size: small;
        margin-left: 20px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
     
  }
  
  @media screen and (min-width: 601px) {
    .menu-bar {
      display: none;
      
    }
    .mobile-menu
      {
        display: none;
      }
}

.items
{
    margin-top: 14px;
    /* margin-left: 16px; */
    font-size: small;
    /* font-weight: bold; */
    display: inline-block;
    color: rgb(71, 69, 72);
    font-family: Verdana, sans-serif;
    text-align: center;
    width: 95px;
    height: 50px;
    cursor: pointer;
}
.items-2
{
    
    
    width: 150px;
}
.base-block
{
    opacity: 0;
    width: 100%;
    height: 4px;
    margin-top: 30px;
    display: none;
    
}
.fitst-base
{
    background-color: rgb(204, 70, 70);
}
.second-base
{
    background-color: rgb(225, 96, 197);
}
.third-base
{
    background-color: rgb(200, 85, 3);
}
.fourth-base
{
    background-color: rgb(232, 139, 9);
}
.fifth-base
{
    background-color: rgb(50, 104, 50);
}
.sixth-base
{
    background-color: rgb(130, 20, 20);
}

.items:hover .base-block
{
    opacity: 1;
    display: block;
    
}
.items:hover .menu-1 
{
    
    opacity: 1;
    display: block;
    
}

.menu-1
{
    display: none;
    width: 1522px;
    margin-left: -143px;
    height: 1005px;
    background: rgba(0, 0, 0, 0.329);
    

    
}
.shadowDiv
{
   
    width: 100%;
    
    height: 1005px;
    background: rgba(0, 0, 0, 0.329);
    position: fixed;
    z-index: 1;
    
}
.content-1
{
    transition: 0.5s;
    /* width: 1100px; */
    width: 580px;
    height: 500px;
    background-color: white;
    position: fixed;
    z-index: 3;
    margin-top: 82px;
    margin-left: 128px;
    /* left: 120px;  */
}

.content-2
{
    transition: 0.5s;

    width: 580px;
    height: 500px;
    background-color: white;
    position: fixed;
    z-index: 3;
    margin-top: 82px;
    margin-left: 225px;
}
.content-3
{
    transition: 0.5s;

    width: 580px;
    height: 500px;
    background-color: white;
    position: fixed;
    z-index: 3;
    margin-top: 82px;
    margin-left: 321px;
}
.cat-menu
{
    width: 173px;
    
    margin-left: 20px;
}
/* a{
    font-size: 12px;
    color: rgb(43, 42, 42);
    text-decoration: none;
    display: block;
    margin-top: 5px;
    text-align: left;
    margin-left: 18px;
    
}
a:hover{
    font-size: 12px;
    color: rgb(12, 12, 12);
    text-decoration: none;
   
    font-weight: bold;
    margin-top: 5px;
   
} */

.nav-bar-a{
    font-size: 12px;
    color: rgb(43, 42, 42);
    text-decoration: none;
    display: block;
    margin-top: 5px;
    text-align: left;
    margin-left: 18px;
    
}
.nav-bar-a:hover{
    font-size: 12px;
    color: rgb(12, 12, 12);
    text-decoration: none;
    /* font-size: 14px; */
    font-weight: bold;
    margin-top: 5px;
   
}
.h1-men
{
    font-size: small;
    font-weight: bold;
    color: rgb(204, 70, 70);
    /* color: rgb(252, 81, 206); */
    /* display: block; */
    margin-top: 28px;
    text-align: left;
    margin-left: 11px;
    
}
.h1-women
{
    font-size: small;
    font-weight: bold;
    
    color: rgb(252, 81, 206);
    /* display: block; */
    margin-top: 28px;
    text-align: left;
    margin-left: 11px;
    
}
.h1-kids
{
    font-size: small;
    font-weight: bold;
    
    color: rgb(200, 85, 3);
    /* display: block; */
    margin-top: 28px;
    text-align: left;
    margin-left: 11px;
    
}


.logo-div
{
    width: 180px;
}

.search-input
{
    
    background-color: rgb(249, 246, 246);
    border: none;
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 362px;
}
.search-icon
{
    
    
    margin-left: 10px;
    width: 26px;
    display: inline-block;
    vertical-align: top;
    float: left;
    
}
.search-body
{
    margin-top: 9px;
    /* border: 5px solid red; */
    height: 38px;
    width: 418px;
    background-color: rgb(249, 246, 246) ;
    
   
}
.search-results
{
    height: fit-content;
    width: 416px;
    background-color: white;
    padding-top: 51px;
}
.search-result-item
{
 padding-left: 15px;
 font-size: small;
 color: rgb(60, 60, 60);
 margin-top: 2.5px;
 /* margin-bottom: 2.5px; */
 padding-bottom: 2.5px;

 font-size: 12px;
 text-decoration: none;
 display: block;

 
 
}

.search-result-item:hover{


    text-decoration: none;
    background-color: rgb(241, 240, 240);
    color: black;
   
}

.icons
{
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
    
}
.icon-tag
{
    font-size: small;
    font-weight: bold;
}

/* .item-text
{
    margin-left: 10x;
} */