<div class="middle-content-deals">
    <div class="first-row row-all">
        <h1 class="header-text">DEAL OF THE DAY</h1>
        <div class="">
            <img *ngFor="let i of row1" src="{{i}}" class="row-img">
        </div>
    </div>

    <div class="second-row row-all">
        <h1 class="header-text">BEST OF MYNTRA EXCLUSIVE BRANDS</h1>
        <div class="">
            <img *ngFor="let i of row2" src="{{i}}" class="row-img2">
        </div>
    </div>
    <div class="third-row row-all">
        <h1 class="header-text">TOP PICKS</h1>
        <div class="">
            <img *ngFor="let i of row3" src="{{i}}" class="row-img3">
        </div>
    </div>

    <div class="third-row row-all">
        <h1 class="header-text">CATEGORIES TO BAG</h1>
        <div class="">
            <img *ngFor="let i of row4" src="{{i}}" class="row-img4">
        </div>
    </div>


</div>

