<app-navbar></app-navbar>
<!-- <div class="main">
    <div class="middle-content-deals">
        <div class="first-row row-all">
            <h1 class="header-text">DEAL OF THE DAY</h1>
            <div class="">
                <img *ngFor="let i of row1" src="{{i}}" class="row-img">
            </div>
        </div>
    
        <div class="second-row row-all">
            <h1 class="header-text">BEST OF MYNTRA EXCLUSIVE BRANDS</h1>
            <div class="">
                <img *ngFor="let i of row2" src="{{i}}" class="row-img2">
            </div>
        </div>
        <div class="third-row row-all">
            <h1 class="header-text">TOP PICKS</h1>
            <div class="">
                <img *ngFor="let i of row3" src="{{i}}" class="row-img3">
            </div>
        </div>
    
        <div class="third-row row-all">
            <h1 class="header-text">CATEGORIES TO BAG</h1>
            <div class="">
                <img *ngFor="let i of row4" src="{{i}}" class="row-img4">
            </div>
        </div>
    
    
    </div>

</div> -->

<div class="container-fluid main">
<!-- carousel-start -->
<div class="carousel">
    <ngb-carousel [interval]="2000" [pauseOnHover]="false"
	[pauseOnFocus]="false" *ngIf="images">
        <ng-template *ngFor="let img of images" ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="img" alt="Random first slide" />
            </div>
            <!-- <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div> -->
        </ng-template>
        <!-- <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide" />
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template> -->
    </ngb-carousel>
</div>
    
    <!-- carousel-end -->


    <div class="middle-content-deals">
        <div class="first-row row-all">
            <h1 class="header-text">DEAL OF THE DAY</h1>
            <div class="row-1">
                
                <a *ngFor="let i of row1" [routerLink]="['/product/Men/Clothing',menProd]" ><img  src="{{i.src}}" class="row-img"></a>
            </div>
        </div>
    
        <div class="second-row row-all">
            <h1 class="header-text">BEST OF MYNTRA EXCLUSIVE BRANDS</h1>
            <div class="">
                <img *ngFor="let i of row2" src="{{i}}" class="row-img2">
            </div>
        </div>
        <div class="third-row row-all">
            <h1 class="header-text">TOP PICKS</h1>
            <div class="">
                <img *ngFor="let i of row3" src="{{i}}" class="row-img3">
            </div>
        </div>
    
        <div class="third-row row-all">
            <h1 class="header-text">CATEGORIES TO BAG</h1>
            <div class="">
                <img *ngFor="let i of row4" src="{{i}}" class="row-img4">
            </div>
        </div>
    
    
    </div>
</div>

